<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Home", patterns_path %>
    </li>

    <li class="breadcrumb-item">
      <%= link_to @pattern.id, pattern_path(@pattern) %>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>

<%= render "form", pattern: @pattern %>

<br>

<div>
  <%= link_to "Show this pattern", @pattern %> |
  <%= link_to "Back to patterns", patterns_path %>
</div>
