<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Home", patterns_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @pattern.id %></li>
  </ol>
</nav>

<%= link_to "New pattern", new_pattern_path, class: "btn btn-primary" %>


<%= render @pattern %>

<div>
  <%= link_to "Edit this pattern", edit_pattern_path(@pattern), class: "btn btn-warning" %>
  
  <%= button_to "Destroy this pattern", @pattern, method: :delete, class: 'btn btn-danger mt-2' %>
</div>
